{% extends "base.html" %}
{% block sidebar %}
<div id="sidebar">
<h1>Lab machine management</h1>
<p>Hi {{ myuser.first_name }}  Here are your machines.</p>
<p> You just asked me to: {{ action }}</p>
<h2>Instructions</h2>
<dl>
<dt>Manage machines</dt><dd>Using this app you can start, stop, terminate and create lab machines.</dd>
<dt>Start</dt><dd>Clicking 'Start Server' will start an existing lab machine.  Note - lab machines automatically shut down after 2 hours of inactivity</dd>
<dt>Stop</dt><dd>'Stop Server' will stop an existing lab machine.  Stopped machines keep your data and can be started again</dd>
<dt>Create</dt><dd>You can create lab machines as needed.  Each machine stands alone and does not share your work across them</dd>
<dt>Terminate</dt><dd>'Terminate Server' deletes this lab machine and removes all of your data.  Only use this when you are completely finished and have saved all of your data to another machine</dd>
<dt>Connecting</dt><dd>Check instance information once your machine has been launched for login credentials and connection information</dd>
</dl>



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</div>
{% endblock %}
{% block content %}
	
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://ischoolvcl.umd.edu">Virtual Computer Lab</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="https://libcc.org/info">About</a></li>
          <!--  <li><a href="#contact">Contact</a></li> -->
			<li><a id="logout" href="/accounts/logout/">Logout</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

<div class="jumbotron">
<h1>Virtual Computer Lab</h1>
<p>Use the Lab to Create your Virtual Labs. Please Stop the server once you are done with your work (Don't worry... Your Data will be Safe). Terminating the Server will erase all your data.</p>
<p>Hi {{ myuser }},  Here are your machines.</p>
</div>
	
<h1>Manage existing lab machine</h1>
{% if list_of_machines %}

<div class="row">		
	{% for key, value in list_of_machines.items %}
	<div class="col-md-4">
	<form action="./" method="post">
	{% csrf_token %}
	<input type="hidden" name="iid" value="{{ key }}" />
<!--    
	<div class="well">
	{{ value }}
	</div>
-->
	<ul>
	{% for key2,value2 in value.items %}
	
	{% if key2 == 'public_dns' and value2 > '' %}
		<input type="hidden" name="public_dns" value="{{ value2 }}" />
		<li class="highlight">Machine Address: <a class="btn btn-info" href="./downloadrdp/?public_dns={{ value2 }}"><i class="glyphicon glyphicon-cloud-download"></i>  Download RDP File</a> 
	<!--	<li class="highlight">Machine Address: <a class="btn btn-primary" href="./downloadrdp/?public_dns={{ value2 }}"><i class=" icon-eye-open"></i>{{ value2 }}</a>  -->
		
	{% else %}
	{% if key2 == 'instance_name' %}
		<h2>Lab Machine: {{ value2 }} </h2>
	{% endif %}
	{% if key2 == 'instance_type' or key2 == 'lab_auth_info' %}
<!--        <li><b>{{ key2 }}</b>: {{ value2 }} -->
	{% endif %}
	{% endif %}
        {% if key2 == 'instance_state' and value2 == 'stopped' %}
        	<button class="btn btn-success has-spinner" type="submit" name="action" value="Start Server" />
			<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
			  Start Server</button>
        {% endif %}
        {% if key2 == 'instance_state' and value2 == 'running' %}
        	<button class="btn btn-warning has-spinner" type="submit" name="action" value="Stop Server" /> 
			<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
			 Stop Server</button>
        {% endif %}
        {% if key2 == 'instance_state' and value2 == 'stopped'  and value2 != 'terminated' %}
        	<button class="btn btn-danger has-spinner" type="submit" name="action" value="Terminate Server" />
			<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
			  Terminate Server</button>
		{% endif %}      
        </li>     
		
    {% endfor %}
</ul> 
</form> 
</div> 
{% endfor %}
</div>
{% else %}
	<p>You have not created any lab machines yet.</p>
{% endif %}
<div class="row">

<hr>
<h1>Create new lab machine</h1>



{% if list_of_labs %}
	
	
<div class="table-responsive">
<!--	<form action="./" method="post"> -->
		<table id="example" class="table table-striped table-bordered">
			
			<thead>
				<tr>
				 <th>Class</th>
				 <th>Description</th>
				 <th>Instructor</th>
				 <th>Credentials</th>
				 <th>Instance Type</th>
				 <th>Instance Control</th>
				</tr>
			</thead>	
			
				<tbody>
			{% for lab in list_of_labs %}
			<form action="./" method ="post">	
				<input type="hidden" name="iid" value="{{ lab.amazonami }}" />
				<input type="hidden" name="username" value="{{ myuser.username }}" />
				<input type="hidden" name="coursecode" value="{{ lab.coursecode }}" />
					<tr>
						{% csrf_token %}
						<td>{{ lab.coursename }}</td>
						<td>{{ lab.labdescription }}</td>
						<td>{{ lab.courseinstructor }}</td>
						<td>{{ lab.lab_auth_info  }}</td>
						<td>
							<select name="instance_type">
								<option value="t1.micro">Micro</option>
								<option value="m1.small">Small</option>
								<option value="m1.medium">Medium</option>
							</select>
						</td>
						<td>
							<button id="create_server" class="btn btn-primary has-spinner" type="submit" name="action" value="Create Server">
								<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
							Create Server
							</button>
						</td>
					</tr>
				</form>
			{% endfor %}
				</tbody>
		</table>
	
</div>
	

	
	
{% endif %}
<h2><div class="ack"></div></h2>
</div>

{% endblock %}


